---
# Uptime Kuma Alert Management
# Creates/deletes maintenance windows using the uptime-kuma-api Python library
#
# Parameters:
#   maintenance_action: "enable" (creates maintenance window) or "disable" (deletes maintenance window)
#   uptime_kuma_url: Uptime Kuma base URL
#   uptime_kuma_username: Uptime Kuma username
#   uptime_kuma_password: Uptime Kuma password
#
# Requirements:
#   pip install uptime-kuma-api

- name: Manage Uptime Kuma maintenance window
  ansible.builtin.command:
    cmd: >-
      python3 {{ playbook_dir }}/../scripts/uptime_kuma_maintenance.py
      --action {{ maintenance_action }}
      --url "{{ uptime_kuma_url }}"
      --username "{{ uptime_kuma_username }}"
      --password "{{ uptime_kuma_password }}"
  register: uptime_kuma_result
  changed_when: >-
    'Created maintenance window' in uptime_kuma_result.stdout or
    'Deleted maintenance window' in uptime_kuma_result.stdout

- name: Display Uptime Kuma result
  ansible.builtin.debug:
    msg: "{{ uptime_kuma_result.stdout_lines }}"
