[Service]
Environment="OLLAMA_HOST={{ ollama_bind_address }}"
Environment="OLLAMA_MAX_LOADED_MODELS={{ ollama_max_loaded_models }}"
Environment="OLLAMA_NUM_PARALLEL={{ ollama_num_parallel }}"
Environment="OLLAMA_ORIGINS={{ ollama_origins }}"
