---
# Maintenance Mode Playbook
# Enables/disables maintenance mode across monitoring systems
#
# Usage:
#   ansible-playbook playbooks/ops-maintenance-mode.yaml -e maintenance_action=enable
#   ansible-playbook playbooks/ops-maintenance-mode.yaml -e maintenance_action=disable
#   ansible-playbook playbooks/ops-maintenance-mode.yaml -e maintenance_action=enable -e target=graylog
#   ansible-playbook playbooks/ops-maintenance-mode.yaml -e maintenance_action=disable -e target=alertmanager
#   ansible-playbook playbooks/ops-maintenance-mode.yaml -e maintenance_action=enable -e target=uptime-kuma
#
# Parameters:
#   maintenance_action: "enable" (mutes alerts) or "disable" (unmutes alerts) (required)
#   target: "all", "graylog", "alertmanager", or "uptime-kuma" (default: all)
#   duration_hours: int (default: 2) - for timed silences/maintenance windows

- name: Manage cluster alerts
  hosts: localhost
  gather_facts: true

  vars:
    alert_target: "{{ target | default('all') }}"
    alert_duration_hours: "{{ duration_hours | default(2) }}"

  tasks:
    - name: Validate maintenance_action parameter
      ansible.builtin.fail:
        msg: "maintenance_action must be 'enable' or 'disable'"
      when: maintenance_action not in ['enable', 'disable']

    - name: Validate target parameter
      ansible.builtin.fail:
        msg: "target must be 'all', 'graylog', 'alertmanager', or 'uptime-kuma'"
      when: alert_target not in ['all', 'graylog', 'alertmanager', 'uptime-kuma']

    - name: Set credentials from AWX or vault
      ansible.builtin.set_fact:
        graylog_token: "{{ awx_graylog_token | default(vault_graylog_token | default('')) }}"
        uptime_kuma_username: "{{ awx_uptime_kuma_username | default(vault_uptime_kuma_username | default('')) }}"
        uptime_kuma_password: "{{ awx_uptime_kuma_password | default(vault_uptime_kuma_password | default('')) }}"

    - name: Manage Graylog alerts
      ansible.builtin.include_tasks: "{{ playbook_dir }}/../tasks/ops-upgrade-cluster-alerts-graylog.yaml"
      vars:
        maintenance_action: "{{ maintenance_action }}"
      when: alert_target in ['all', 'graylog']

    - name: Manage Alertmanager silences
      ansible.builtin.include_tasks: "{{ playbook_dir }}/../tasks/ops-upgrade-cluster-alerts-alertmanager.yaml"
      vars:
        maintenance_action: "{{ maintenance_action }}"
      when: alert_target in ['all', 'alertmanager']

    - name: Manage Uptime Kuma maintenance
      ansible.builtin.include_tasks: "{{ playbook_dir }}/../tasks/ops-upgrade-cluster-alerts-uptime-kuma.yaml"
      vars:
        maintenance_action: "{{ maintenance_action }}"
      when: alert_target in ['all', 'uptime-kuma']
